@import '../../../../Styles/Variables';

.NavigationButtons
{
 width: 100%;
  height: auto;
 display: flex;
 justify-content: center;
  background: grey;
  .HomepageButton,
  .FeedbackPageButton,
  .ContactUsPageButton{
    background-color: transparent;
    margin: 5px;
    border: 1px solid white;
    padding: 1px;
    border-radius: 3px;
    cursor: pointer;
    transition:.3s ease-in-out;
    &:hover{
      
      transform: scale(1.1) perspective(1px)
    }
  }
  // .FeedbackPageButton{
  //   background-color: transparent;
  //   margin: 5px;
  //   border: 1px solid white;
  //   padding: 1px;
  //   border-radius: 3px;
  //   cursor: pointer;
  //   transition:.3s ease-in-out;
  //   &:hover{
  //     transform: scale(1.1) perspective(1px)
  //   }
  // }
  // .ContactUsPageButton{
  //   background-color: transparent;
  //   margin: 5px;
  //   border: 1px solid white;
  //   padding: 1px;
  //   border-radius: 3px;
  //   cursor: pointer;
  //   transition:.3s ease-in-out;
  //   &:hover{
      
  //     transform: scale(1.1) perspective(1px)
  //   }
  // }
}
