.Calender-style {
}

.Input-style {
  background-color: transparent;
  margin-top: 20px;
  height: 35px;
  width: 100px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 5px;
  color: white;
}

.Icon {
  position: absolute;
  transform: translate(590%, 190%);
  color: white;
}
